{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 50px auto;
    text-align: center;
    width: 800px;
}
h1 {
    font-family: 'Passion One';
    font-size: 2rem;
    text-transform: uppercase;
}
label {
    width: 150px;
    display: inline-block;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Lato';
}
input {
    border: 2px solid #ccc;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: 'Lato';
    padding: 10px;
}
form {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #ccc;
    width: 500px;
    background: #eee;
}
form.table {
    margin: 25px auto;
    padding: 20px;
    border: 5px solid #ccc;
    width: 800px;
    background: #eee;
}
div.form-element {
    margin: 20px 0;
}
button {
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 100;
    background: yellowgreen;
    color: white;
    border: none;
}
p.success,
p.error {
    color: white;
    font-family: lato;
    background: yellowgreen;
    display: inline-block;
    padding: 2px 10px;
}
p.error {
    background: orangered;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
width: 100%;
}
th, td:first-child {
background: #AFCDE7;
color: white;
padding: 10px 20px;
}
th, td {
border-style: solid;
border-width: 0 1px 1px 0;
border-color: white;
}
td {
background: #D8E6F3;
}
th:first-child, td:first-child {
text-align: left;
}

* { box-sizing: border-box }

/* Поля ввода на всю ширину */
  nput[type=text], nput[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Добавляем фоновый цвет, когда поля ввода в фокусе */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Задаем стили для всех кнопок */
/*
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
*/

button:hover {
  opacity:1;
}

/* Дополнительные стили для кнопки отмены */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Добавляем обтекание и одинаковую ширину для кнопок отмены и регистрации */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Добавляем отступы для контейнерных элементов */
.container {
  padding: 16px;
}

/* Модальное окно (фон) */
.modal {
  display: none; /* По умолчанию скрыто */
  position: fixed; /* Оставаться на месте */
  z-index: 1; /* Поверх всего */
  left: 0;
  top: 0;
  width: 100%; /* На всю ширину */
  height: 100%; /* На всю высоту */
  overflow: auto; /* Разрешить прокрутку при необходимости */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Модальное окно (содержимое) */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% от верха, 15% от низа и по центру */
  border: 1px solid #888;
  width: 80%; /* Может быть меньше или больше в зависимости от размера экрана */
}

/* Стили горизонтального разделителя */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Кнопка закрытия (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Очистка обтекания */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Изменяем стили кнопок отмены и регистрации на маленьких экранах */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* Поля textarea на форме editors */
textarea.ta_editor{
  width: 100%; /* На всю ширину */
  height: 100%; /* На всю высоту */
  
}