body {
    text-align: center;
    width: 90%;
    background-image: url('fon-1-1_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}

.menu {
	display: table;
  margin-left: auto;
  margin-right: auto;
}

.menu_button {
  display: inline-block;
  padding: 15px;
  background: #bd162b;
  transform: skew(-30deg);
  border-radius: 5px;
  border-color: #8594ae;
  border-width: 5px;
  border-style: outset;
  width: 300px;
  margin: 5px;
}
.menu_button:hover{
    background:#8594ae;
    border-style: groove;
}

.menu_button_text {
  display: inline-block;
  transform: skew(30deg);
  color: #fff;
}

li {
	display: table-cell;
	/*position: relative;*/
	/*background: #bcbdbe;*/
  /*z-index: 1;*/
}

table.db_data  {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /*transform: skew(-30deg);*/
}

th.db_data, td.db_data:first-child {
  background: #8594ae; /*#dddae0; /*#8594ae*/
  color: black;
  padding: 10px;
}
th.db_data, td.db_data {
  border-style: solid;
  border-width: 0 5px 5px 0;
  border-color: white;
  
  
}
td.db_data {
  background: #e0e4e9;
}
th.db_data:first-child, td.db_data:first-child {
  text-align: center;
}
